{% extends '../layouts/layout.html' %}
{% block content %}
<div class="hc aps" ng-app="homeApp" ng-controller="homeController">
  <div class="apa">
    <div class="apb">
      <h6 class="apd">Dashboards</h6>

      <h2 class="apc">Order history</h2>
    </div>

    <div class="ob ape">
      <div class="tn aol">
        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
        <span class="bv wt"></span>
      </div>
    </div>
  </div>

  <div class="akg ue">
    <div class="akh aki">
      <div class="tn aol">
        <input type="text" class="form-control aqq" placeholder="Search orders">
        <span class="bv adn"></span>
      </div>
    </div>
    <div class="akh">
      <div class="nz">
        <button type="button" class="ce apn">
          <span class="bv aez"></span>
        </button>
        <button type="button" class="ce apn">
          <span class="bv zz"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="ud">
    <div class="eg">
      <table class="cl">
        <thead>
        <tr>
          <th>Id</th>
          <th>Id</th>
          <th>Id</th>
          <th>Id</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}

<script>

  angular.module('homeApp', [])
    .controller('homeController', function ($scope, $http) {
      $scope.users = {
      {
        login_user | json | safe
      }
    };
  $scope.status = $scope.users.status ? false : true;

  $scope.unverify = $scope.users.status ? true : false;
  })


</script>
