<div class="hc aps">
  <div class="apa">
    <div class="apb">
      <h6 class="apd">Dashboards</h6>

      <h2 class="apc">添加您要关注的 APP</h2>
    </div>

  </div>

  <div class="akg ue">
    <div class="akh aki">
      <form role="search" style="width: 100%" ng-submit="doSearch()">
        <div class="tn aol" style="width: 100%">
          <input type="text" class="form-control aqq" placeholder="Search App From Internet" style="width: 100%"
                 ng-model="keyword">
          <i class="fa fa-search bv"></i>
        </div>
      </form>
    </div>
  </div>

  <div class="ud">
    <div class="eg">
      <table class="cl" ng-if="apps.length">
        <thead>
        <tr>
          <th width="5%">图标</th>
          <th width="20%">名称</th>
          <th width="30%">包名</th>
          <th width="30%">市场</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in apps | orderBy:'-market_names.length'">
          <td><img style="height: 50px;width: 50px;" src="{{item.icon}}"></td>
          <td>{{item.name}}</td>
          <td>{{item.apk_name}}</td>
          <td><span class="label label-success" ng-repeat="name in item.market_names">{{name}}</span></td>
          <td>
            <button class="btn btn-primary" ng-click="add(item)">添加</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div ng-if="search_none">

  <h2>没有搜索结果。。。</h2>

</div>

<div class="info-icons" ng-if="loading">

  <i class="fa fa-spinner fa-pulse fa-6" style="font-size: 150px; margin-left: 400px; margin-top: 100px;"></i>

</div>
