{% extends '../layouts/layout.html' %}
{% block content %}
<div class="invitation" ng-app="appListApp" ui-view></div>
{% endblock %}

{% block js %}

<script>

  angular.module('appListApp', ['ui.router'])
    .controller('appListController', function($scope, $http) {
      $scope.apps = {{apps | json | safe}};


      $scope.delete = function (app) {
        $http.delete('/apps/' + app.id).then(function(res) {

          if (res.data.status === 200) {

            $.notify("删除成功", {
              type: 'success',
              placement: {
                from: 'bottom',
                align: 'left'
              },
              animate:{
                enter: "animated fadeInUp",
                exit: "animated fadeOutDown"
              }
            });

            $scope.apps.forEach((a, i) => {
              if (a.id == app.id) {
                $scope.apps.splice(i, 1);
              }
            });


          } else {
            $.notify('<strong>' + res.data.data.message + '</strong> ' ,{
              type: 'success',
              placement: {
                from: 'bottom',
                align: 'left'
              },
              animate:{
                enter: "animated fadeInUp",
                exit: "animated fadeOutDown"
              }
            });
          }


        })
      };

      $scope.list_none = $scope.apps.length > 0 ? false : true;

  }).config(function($stateProvider, $urlRouterProvider) {
    $urlRouterProvider.otherwise('/list');

    $stateProvider.state('list', {
      url: '/list',
      controller: 'appListController',
      templateUrl: '/views/apps/list.html'
    });
  });


</script>
