<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>Market-Report</title>
  <link rel="stylesheet" href="/build/css/mbs.css">
  <link rel="stylesheet" href="/build/css/font-awesome.min.css">
  <link rel="stylesheet" href="/build/css/main.css">
  <link rel="stylesheet" href="/build/css/toolkit-inverse.css">
  <link rel="stylesheet" href="/build/css/application.css">

  <style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    body {
      width: 1px;
      min-width: 100%;
      *width: 100%;
    }
  </style>
</head>
<body>
<div class="aou">

  <nav class="ch">

    <a class="aov" href="../index.html">
      <span class="aow">M</span>
    </a>


    <div class="aoz">

      <ul class="nav of aox">
        <li>
          <a href="/" title="首页" data-toggle="tooltip" data-placement="right"
             data-container="body">
            <i class="fa fa-home"></i>
            <small class="aoy sa"> 首页</small>
          </a>
        </li>
        <li>
          <a href="/apps" title="我关注的 APP" data-toggle="tooltip" data-placement="right"
             data-container="body">
            <i class="fa fa-list"></i>
            <small class="aoy sa">我关注的 APP</small>
          </a>
        </li>
        <li>
          <a href="/searchapp" title="添加关注" data-toggle="tooltip"
             data-placement="right" data-container="body">
            <i class="fa fa-plus"></i>
            <small class="aoy sa">添加关注</small>
          </a>
        </li>
      </ul>

      <ul class="nav of aox">
        <li>
          <a href="#" title="{{login_user.name}}" data-toggle="tooltip" data-placement="right"
             data-container="body">
            <img src="/build/images/android_user.png" alt="" class="cs cn">
            <small class="aoy sa">@{{login_user.name}}</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="bw">

    {% block content %}

    {% endblock %}

  </div>

</div>


<script src="/build/js/jquery.min.js"></script>
<script src="/build/js/jquery.tablesorter.min.js"></script>
<script src="/build/js/echarts-all.js"></script>
<script src="/build/js/angular.min.js"></script>
<script src="/build/js/angular-ui-router.min.js"></script>
<script src="/build/js/bootstrap-notify.min.js"></script>
<script src="/build/js/common.js"></script>

{% block js %}

{% endblock %}
</body>
</html>
